.cookie-message {
	display: none;

	/* position: fixed;
	z-index: 10; */
	max-width: 1280px;

	background-color: #38393B;
	color: #fff;
	padding-top: 28px;
	padding-bottom: 28px;
	&__title {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;
		text-transform: uppercase;
	}
	&__content {
		display: flex;
		color: #ccc;
		margin-bottom: 24px;
	}
	&__ok {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		border: 1px solid #ccc;
		color: #ccc;
		background-color: transparent;
	}
	&__message {
		margin: 0;
		margin-left: 20px;
		font-size: 14px;
		line-height: 21px;
	}
	&__btn {
		height: 34px;
		font-size: 14px;
		line-height: 34px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 24px;
		padding-right: 24px;
		border: none;
		background-color: #222;
		transition: background-color .3s;
		&:hover {
			background-color: darken(#222, 10%);
		}
	}
}