.section-first {
	padding-top: 18px;
	padding-bottom: 22%;
	@media (min-width: 768px) {
		padding-top: 29px;
	}
	background-color: $l-green-bg-color;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 65% auto;
	background-image: $car3-m-url;
	@media (min-width: 768px) {
		background-image: $car3-url;
	}
	&__header {
		margin-top: 0;
		margin-bottom: 14px;
		font-size: 16px;
		font-weight: 600;
		line-height: 21px;
		@media (min-width: 768px) {
			margin-bottom: 25px;
			font-size: 24px;
			line-height: 34px;
		}
	}
	&__txt {
		margin: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: #505050;
		@media (min-width: 768px) {
			font-size: 18px;
			line-height: 29px;
		}
	}
}