.header {
	&-top {
		position: relative;
		width: 100%;
		height: 100px;
		background-color: #fff;

		.header-logo {
			&__main {
				img {
					@include centerer-xy;
					display: block;
					width: 92px;
					height: auto;
				}

			}
			&__ext {
				display: none;
				@media (min-width: 768px) {
					display: block;
				}
			}
			&__name {
				display: block;
				width: 143px;
				height: auto;
			}
			&__slogan {
				font-size: 16px;
			}
		}

		.header-brand-logo {
			@include centerer-x;
			z-index: 5;
			top: 100%;
			width: 108px;
			height: 126px;
			background-color: #fff;
			img {
				@include centerer-x;
				bottom: 18px;
				width: 83px;
				height: auto;
			}
		}

		@media (min-width: 768px) {
			.container {
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.header-logo {
					display: flex;
					justify-content: flex-start;
					height: 100%;
					align-items: center;
				}
				.header-logo__main {
					width: 92px;
					position: relative;
					margin-right: 20px;
				}
				.header-brand-logo {
					position: static;
					transform: translateX(0);
					width: 125px;
					height: 145px;
				}
			}
		}
		@media (min-width: 992px) {
			height: 120px;
		}
	}

	&-banner {
		width: 100%;
		height: 170px;
		position: relative;
		overflow: hidden;
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #F2F2F2;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			background-image: $banner-m-bg-url;
			@media (min-width: 480px) {
				background-image: $banner-bg-url;
			}
		}
		&__car {
			position: absolute;
			width: 45%;
			height: auto;
			bottom: -4%;
			&:first-child {
				right: 47%;
			}
			&:last-child {
				left: 47%;
			}
		}
		@media (min-width: 480px) {
			height: 0;
			padding-top: 35%;
		}
	}
	&-bottom {
		position: relative;
		height: 100px;
		background-color: #fff;
		.header-blockquote {
			@include centerer-y;
			margin: 0;
			padding-left: 18px;
			font-size: 18px;
			font-weight: 600;
			line-height: 21px;
			&:before {
				content: "";
				position: absolute;
				top: 3px;
				left: 0;
				width: 3px;
				height: 18px;
				@media (min-width: 768px) {
					height: 24px;
				}
				background-color: $red;
			}
			@media (min-width: 768px) {
				font-size: 26px;
				line-height: 31px;
			}
		}
		@media (min-width: 992px) {
			height: 120px;
		}
		@media (min-width: 1280px) {
			height: 70px;
		}
	}
}