.section-second {
	background-color: $l-green-bg-color;
	.forms-outer-container {
		padding: 15px;
		background-color: $grey-bg-color;
		@media (min-width: 768px) {
			padding: 40px;
		}
		@media (min-width: 992px) {
			padding: 50px;
		}
	}
	&__header {
		margin-top: 0;
		margin-bottom: 14px;
		font-size: 16px;
		font-weight: 600;
		line-height: 21px;
		color: #fff;
		@media (min-width: 768px) {
			margin-bottom: 25px;
			font-size: 24px;
			line-height: 34px;
		}
	}
	&__txt {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: $footer-f-color;
		@media (min-width: 768px) {
			margin-bottom: 40px;
			font-size: 18px;
			line-height: 29px;
		}
		@media (min-width: 992px) {
			margin-bottom: 50px;
		}
	}

	.forms-inner-container {
		padding: 20px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		@media (min-width: 768px) {
			flex-direction: row;
			padding: 30px;
		}
		.forms-delimiter {
			text-align: center;
			position: relative;
			margin-bottom: 24px;
			@media (min-width: 768px) {
				width: 70px;
				flex-shrink: 0;
				margin-bottom: 0;
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #ccc;
				@media (min-width: 768px) {
					top: 0;
					left: 50%;
					width: 1px;
					height: 100%;
				}
			}
			span {
				position: relative;
				display: inline-block;
				width: 70px;
				height: 23px;
				background-color: #fff;
				font-size: 12px;
				line-height: 23px;
				text-transform: uppercase;
				color: #999;
				text-align: center;
				@media (min-width: 768px) {
					@include centerer-xy;
					height: 58px;
					line-height: 58px;
				}
			}
		}
		.search-vim-form,
		.call-us-form {
			.forms__title {
				margin-top: 0;
				margin-bottom: 15px;
				font-size: 16px;
				font-weight: 600;
				@media (min-width: 768px) {
					font-size: 22px;
					line-height: 27px;
				}
				@media (min-width: 992px) {
					margin-bottom: 37px;
				}
			}
			@media (min-width: 768px) {
				width: calc(50% - 35px);
			}

		}
		.search-vim-form {
			@media (min-width: 768px) {
				padding-right: 3%;
			}
			.form-search-group {
				font-size: 0;
				display: flex;
				width: 100%;
				margin-bottom: 16px;
				@media (min-width: 992px) {
					margin-bottom: 22px;
				}
				.search-vim-input {
					display: inline-block;
					width: calc(100% - 50px);
					box-sizing: border-box;
					border: 1px solid #ccc;
					height: 50px;
					font-size: 16px;
					line-height: 50px;
					padding-top: 0;
					padding-bottom: 0;
					padding-left: 10px;
					padding-right: 10px;
				}
				.search-vim-submit {
					display: inline-block;
					position: relative;
					padding: 0;
					width: 50px;
					height: 50px;
					border: 1px solid #ccc;
					border-left: none;
					background-color: #F2F2F2;
					transition: background-color .3s;
					cursor: pointer;
					svg {
						@include centerer-xy;
						width: 18px;
						height: 18px;
						fill: #808080;
					}
					&:hover {
						background-color: darken(#F2F2F2, 5%);
					}
				}
			}
		}
		.search-vim-sample {
			margin-top: 0;
			margin-bottom: 16px;
			font-size: 14px;
			color: #999;
			span {
				display: inline-block;
				padding-bottom: 3px;
				border-bottom: 1px dashed #999;
			}
		}
		.search-vim-txt {
			margin-top: 0;
			margin-bottom: 24px;
			font-size: 13px;
			line-height: 20px;
			color: #505050;
		}

		.call-us-form {
			@media (min-width: 768px) {
				padding-left: 3%;
			}
			.form-call-us-group {
				.call-us-input {
					width: 100%;
					height: 50px;
					box-sizing: border-box;
					border: 1px solid #ccc;
					height: 50px;
					margin-bottom: 16px;
					@media (min-width: 768px) {
						margin-bottom: 28px;
					}
					padding-top: 0;
					padding-bottom: 0;
					padding-left: 10px;
					padding-right: 10px;
					font-size: 16px;
					line-height: 50px;
				}
			}
		}
	}

}