.section-third {
	position: relative;
	.bottom-logo {
		display: none;
		@media (min-width: 992px) {
			display: block;
			position: absolute;
			z-index: 3;
			bottom: 30px;
			left: 65px;
		}
		&__main {
			width: 92px;
			margin-bottom: 22px;
			img {
				display: block;
			}
		}
		&__name {
			width: 143px;
			margin-bottom: 12px;
			img {
				display: block;
			}
		}
		&__slogan {
			font-size: 16px;
			line-height: 1;
			color: #222;
		}
		@media (min-width: 1280px) {
			bottom: 70px;
			display: flex;
			align-items: center;
			&__main {
				margin-bottom: 0;
				margin-right: 20px;
			}
		}
	}
	.requisites-block {
		padding: 28px;
		@media (min-width: 768px) {
			padding-top: 40px;
			padding-right: 60px;
			padding-bottom: 50px;
		}
		background-color: $l-green-bg-color;
		&__tile {
			margin-top: 0;
			margin-bottom: 18px;
			font-size: 26px;
			line-height: 1.2;
			@media (min-width: 360px) {
				font-size: 30px;
			}
			@media (min-width: 768px) {
				font-size: 32px;
			}
			font-weight: 600;
		}
		&__info {
			margin-top: 0;
			margin-bottom: 14px;
			font-size: 21px;
			@media (min-width: 480px) {
				font-size: 24px;
			}
		}
		&__phone {
			font-weight: 600;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
		&__hours {
			color: #505050;
			margin-left: 15px;
			svg {
				display: inline-block;
				width: 22px;
				height: 22px;
				fill: #505050;
				position: relative;
				top: 3px;
			}
		}
		&__dep-name {
			margin: 0;
			font-size: 18px;
			line-height: 1;
			color: #505050;
		}
	}
	.social-block {
		padding: 28px;
		@media (min-width: 768px) {
			padding-top: 35px;
			padding-left: 60px;
			padding-right: 60px;
			padding-bottom: 70px;
		}
		background-color: #fff;
		&__tile {
			margin-top: 0;
			margin-bottom: 18px;
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
		}
		&__items {
			display: flex;
			justify-content: flex-start;
		}
		&__item {
			position: relative;
			display: block;
			width: 44px;
			height: 44px;
			margin-right: 23px;
			background-color: #999;
			transition: background-color .3s;
			svg {
				@include centerer-xy;
				fill: #fff;
				&.yt-link {
					width: 18px;
					height: 12.5px;
				}
				&.oks-link {
					width: 11.5px;
					height: 19px;
				}
				&.fb-link {
					width: 8px;
					height: 17px;
				}
				&.vk-link {
					width: 22px;
					height: 12.5px;
				}
			}
			&:hover {
				background-color: lighten(#999, 10%);
			}
		}
	}
	.requisites-block,
	.social-block {
		@media (min-width: 768px) {
			padding-left: 50%;
		}
		@media (min-width: 992px) {
			padding-left: 65%;
		}
	}
	.section-third__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: 2;
		@media (min-width: 768px) {
			background-image: $man-bg-url;
			background-position: 60px bottom;
			background-size: 303px auto;
			background-repeat: no-repeat;
		}
		@media (min-width: 992px) {
			width: 55%;
			background-position: right bottom;
		}
	}
}