html,
body {
	height: 100%;
}

body {
	font-family: $ff-main;
	font-size: 14px;
	line-height: 1.5;
	color: #222;

	background-color: #737373;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.wrapper {
	max-width: 1280px;
	margin: auto;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: 768px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (min-width: 992px) {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.content {
	flex: 1 0 auto;
}
.header, .footer {
	flex: 0 0 auto;
}

%main-btn {
	display: inline-block;
	border: none;
	outline: none;
	padding: 0;
	height: 50px;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}

.a-style-btn {
	@extend %main-btn;
	background-color: $a-btn-color;
	color: #ffffff;
	transition: background-color .3s;
	&:hover {
		background-color: lighten($a-btn-color, 4%);
	}
}

