$ff-main: 'Open Sans', sans-serif;
$a-btn-color: #00AB4E;
$grey-bg-color: #494E51;
$l-green-bg-color: #E0E8E4;
$footer-bg-color: #38393B;
$footer-f-color: #ccc;
$red: #ED1C24;
$green: #00AB4E;

$banner-m-bg-url: url(/local/templates/tech_landing/images/banner_m_bg.jpg);
$banner-bg-url: url(/local/templates/tech_landing/images/banner_bg.jpg);

$car3-m-url: url(/local/templates/tech_landing/images/car_m_03.png);
$car3-url: url(/local/templates/tech_landing/images/car_03.png);

$man-bg-url: url(/local/templates/tech_landing/images/man.png);